# DOCKER-COMPOSE TO MAKE A EXAMPLE STACK WITH PROMETHEUS AND GRAFANAWMI 
version: '3'
services:

  #GRAFANA
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - prometheus-grafana
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
      - grafana-storage:/var/lib/grafana
    environment:
      - "GF_SERVER_ROOT_URL=http://dashboard.felipe.com"
      - "GF_SECURITY_ADMIN_PASSWORD=admin"
    restart: always
  
  # PROMETHEUS
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    networks:
      - prometheus-grafana
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

#VOLUMES
volumes:
  grafana-storage:

#NETWORKS
networks:
  prometheus-grafana:

    